header {
    background-color: gray;
    overflow: auto;
}
div#basicheader {
    margin: 0 auto;
    width: 900px;
}
div#headerText {
    width: 300px;
    text-align: center;
    float: left;
}
nav {
    width: 550px;
    float: right;
    background-color: black;
    color: white;
    margin: 20px;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin-right: 29px;
}
div#imgDiv {
    margin: 0 auto;
    width: 900px;
}
#imgDiv img {
    width: 900px;
    margin-top: 10px;
}
div#QuarterHead {
    width: 1045px;
    margin: 0 auto;
    overflow: auto;
}
.quarterDives {
    width: 345px;
    float: left;
}
.quarterDives figure {
    border: 1px solid;
    margin-left: 0px;
}
.quarterDives figure img {
    padding: 5px;
}
figcaption a {
    float: right;
    margin-right: 55px;
    color: red;
}